/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
}




/* STYLE */
body {
    background-color: #292F36;
}



/* HEADER */
.header {
    width: 390px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid #43454D;
}

.header span {
    color: #12F7D6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.header h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.menu-sections {
    display: flex;
    gap: 16px;
    list-style: none;
}

.menu-sections a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-decoration: none;
    font-family: "IBM Plex Mono", monospace;
}

.socials {
    display: none;
}

.menu-sections a {
    color: #FFFFFF;
}

.highlight {
  display: inline-block;
  color: #FFFFFF;
  transition: color 250ms, text-shadow 250ms;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.highlight::after {
  position: absolute;
  z-index: -1;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100%;
  height: 3px;
  background-color: #12F7D6;
  transition: all 250ms;
}

 .highlight:hover {
  color: white;
  text-shadow: 0px 1px 0px black;
}

 .highlight:hover::after {
  height: 105%;
  width: 105%;
}

/* PAGE BANNER */
.developer-title {
    display: none;
}

.page-banner {
    padding: 64px 0px 0px 0px;
    width: 390px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.cv-card {
    width: 320px;
    margin: 0 auto;
    padding: 30px 24px;
    gap: 32px;
    border-radius: 160px 0px 160px 0px;
    opacity: 0px;
    border: 5px solid white;
    margin-bottom: 64px;
    box-shadow: -4px -4px 2px 0px #12F7D6;
}

.profile-picture {
    margin: 0 auto;
    margin-bottom: 16px;
}

.cv-card h2 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

.cv-card p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 32px;
}

.information-card li {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: 16px;
    font-family: "IBM Plex Mono", monospace;
}

.information-card img {
    padding-top: 1px;
}

.skills-card {
    display: flex;
    gap: 16px;
}

.skills-card li {
    color: #292F36;
    background-color: #12F7D6;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    padding: 0px 8px;
    border-radius: 24px;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 32px;
}

.cv-button {
    color: #292F36;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 16px 32px;
    border: none;
    border-radius: 32px;
    font-family: "Ubuntu", sans-serif;
}

.quick-information {
    width: 328px;
    margin: 0 auto;
}

.quick-information span:nth-child(1), 
.quick-information span:nth-child(3), 
.quick-information span:nth-child(4), 
.quick-information span:nth-child(6) {
    color: #98FAEC;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.title {
    margin-bottom: 32px;
}

.quick-information h1 {
    color: #FFFFFF;
    margin-left: 16px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    font-family: "Ubuntu", sans-serif; 
}

.quick-information span:nth-child(2) {
    color: #12F7D6;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    font-family: "Ubuntu", sans-serif; 
}

.quick-information p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    width: 280px;
    margin-left: 24px;
    font-family: "IBM Plex Mono", monospace;
}

.explanation {
    margin-bottom: 16px;
}

.lets-talk {
    width: 328px; 
    margin: 0 auto;
}

.lets-talk h1 {
    color: #12F7D6;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    width: 272px;
    margin: 0 auto;
    margin-bottom: 64px;
    display: flex;
    gap: 16px;
    align-items: start;
    font-family: "IBM Plex Mono", monospace;
}

.lets-talk-box {
    background-color: #1A1E23;
    width: 215px;
    margin: 0 auto;
    padding: 48px 32px 48px 32px;
    gap: 48px;
    border-radius: 80px;
    box-shadow: 2px 2px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    gap: 59px;

}

.box-item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.box-item p:nth-child(2) {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.box-item p:nth-child(1) {
    color: #12F7D6;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.slide:hover,
.slide:focus {
  box-shadow: inset 13em 0 0 0 var(--hover);
}

.slide {
  --hover:  #12F7D6;
}

button {
  color: var(--color);
  transition: 0.55s;
}

button:hover, button:focus {
  border-color: var(--hover);
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

/* ABOUT ME */
.about-me {
    background-image: url(../img/backgrounds/about_me_background.png);
    padding-top: 64px;
    padding-bottom: 64px;
}

.about-me h1 {
    color: #FFFFFF;
    background-color: #292F36;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    width: 234px;
    padding: 16px 40px 16px 40px;
    border-radius: 40px 0px 40px 0px;
    border: 4px solid #12F7D6;
    opacity: 0px;
    margin-bottom: 32px;
    font-family: "Ubuntu", sans-serif; 
}

.about-me-box {
    background-color: #292F36;
    width: 344px;
    margin: 0 auto;
    padding: 24px;
    gap: 16px;
    border-radius: 40px;
    opacity: 0px;
}

.deneme {
    color: #98FAEC;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.about-me-box h2 {
    color: #12F7D6;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.about-me-box p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.about-me-box p span {
    color: #12F7D6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}



/* SKİLLS */
.skills {
    background-image: url(../img/backgrounds/Skills.png);
    padding: 64px 0px;
}

.skills-boxes {
    margin-bottom: 90px;
}

.skills h1 {
    color: #12F7D6;
    width: 148px;
    padding-bottom: 15px;
    border-bottom: 2px solid #12F7D6;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    font-family: "Ubuntu", sans-serif; 
    margin: 0 auto;
    margin-bottom: 16px;
}

.skill-text {
    color: #FFFFFF;
    width: 342px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
    font-family: "IBM Plex Mono", monospace;
}

.development-box {
    text-align: center;
    background-color: #98FAEC;
    width: 298px;
    height: 132px;
    margin: 0 auto;
    padding: 16px 24px;
    border-radius: 8px;
    margin-bottom: 32px;
    border-left: 10px solid #0C73B8;
}

.development-box img {
    width: 32px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.development-box h3 {
    color: #292F36;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    margin-bottom: 8px;
}

.development-box p {
    color: #43454D;
    width: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

.frontend-balls {
    width: 288px;
    height: 388px;
    gap: 32px 64px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.ball {
    width: 112px;
    height: 178px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ball:nth-child(1) p {
    color: #E54F26;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

.ball:nth-child(2) p {
    color: #0C73B8;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

.ball:nth-child(3) p {
    color: #E7A020;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

.ball:nth-child(4) p {
    color: #28A9E0;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
}

.ball:nth-child(1) img:hover {
    box-shadow: 0px 0px 70px #E54F26;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.ball:nth-child(2) img:hover {
    box-shadow: 0px 0px 50px #0C73B8;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.ball:nth-child(3) img:hover {
    box-shadow: 0px 0px 50px #E7A020;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.ball:nth-child(4) img:hover {
    box-shadow: 0px 0px 50px #28A9E0;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

/* WORKS */
.works {
    padding: 64px 0px;
    background-image: url(../img/backgrounds/Works_background.png);
}

.works h1 {
    color: #12F7D6;
    width: 183px;
    padding-bottom: 15px;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 16px;
    font-family: "Ubuntu", sans-serif; 
}

.works p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    width: 342px;
    margin: 0 auto;
    margin-bottom: 64px;
    font-family: "IBM Plex Mono", monospace;
}

.works img {
    margin: 0 auto;
    width: 350px;
}

.works-link {
    width: 350px;
    position: relative;
    margin: 0 auto;
}

.works a {
    position: absolute;
    top: 25px;
    right: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #12F7D6;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
}

.works a img {
    margin: 0;
    display: none;
}



/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px 0px;
    margin-bottom: 32px;
    text-align: center;
}

.footer ul {
    margin: 0px auto;
    margin-top: 24px;
    padding: 0px 100px;
    display: flex;
    gap: 32px;
}

.footer p {
    color: #FFFFFF;
    width: auto;
    margin:  0 auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    font-family: "Ubuntu", sans-serif; 
}

.footer span {
    color: #12F7D6;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.38px;
    text-align: center;
    text-decoration: underline;
    font-family: "Ubuntu", sans-serif;
}

@media( width >= 768px) {
    /* HEADER */
    .header {
        width: 768px;
        padding: 24px 32px;
        align-items: center;
    }

    .header h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
    }

    .header h3 span {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    .menu-sections li a {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;

    }

    .socials {
        display: flex;
        gap: 32px;
    }

    /* PAGE BANNER */
    .page-banner {
        width: 768px;
    }

    .title h1 {
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        text-align: left;
    }

    .quick-information span:nth-child(2) {
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        text-align: left;
    }

    .quick-information {
        width: 648px;
    }

    .explanation {
        width: 648px;
    }

    .explanation p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        width: 600px;
    }

    .lets-talk {
        width: 648px;
    }

    .lets-talk h1 {
        width: 624px;
        margin-left: 24px;
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
    }


    /* ABOUT ME */
    .about-me h1 {
        width: 375px;
        height: 104px;
        padding: 16px 40px;
        gap: 0px;
        border-radius: 40px 0px 40px 0px;
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        text-align: left;
    }

    .about-me-box {
        width: 620px;
    }

    .about-me-box h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
        margin-bottom: 12px;
    }

    .about-me-box p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    /* SKİLLS */
    .skill-text {
        width: 680px;
    }

    .skills-boxes {
        width: 628px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    .development-box {
        margin-bottom: 0px;
    }

    .frontend-balls {
        width: 384px;
        height: 452px;
        justify-content: space-between;
    }

    .ball {
        width: 144px;
        height: 210px;
        gap: 24px;
        opacity: 0px;

    }

    .ball img {
        width: 144px;
    }

    /* WORKS */
    .works p {
        width: 640px;
    }

    .works-link {
        width: 480px;
    }

    .works img {
        width: 4800px;
    }

    .works a {
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        top: 30px;
        right: 70px;
    }

    .footer {
        width: 768px;
        margin: 0 auto;
        margin-bottom: 32px;
    }


}

@media (width >= 1280px) {
    /* HEADER */
    .header {
        width: 960px;
        padding: 69px 32px;
    }

    .header h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
    }

    .menu-sections li a{
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
    }

    .header h3 span {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: left;
    }

    /* PAGE BANNER */
    .page-banner {
        width: 960px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .title h1 {
        font-size: 64px;
        font-weight: 400;
        line-height: 72px;
        text-align: left;
    }

    .cv-card {
        margin: 0px 320px;
        margin-bottom: 64px;
    }

    .quick-information {
        margin: 0px;
    }

    .lets-talk {
        width: auto;
        margin: 0px;
    }

    .lets-talk-box {
        margin: 0px;
    }

    .lets-talk h1 {
        display: none;
    }

    .developer-title {
        color: #98FAEC;
        width: 538px;
        margin: 0 auto;
        display: flex;
        font-size: 117px;
        font-weight: 400;
        line-height: 134px;
        text-align: left;
        margin-bottom: 64px;
        font-family: "Ubuntu", sans-serif;
    }

    /* ABOUT ME */
    .about-me-box {
        width: 880px;
    }

    .about-me-box p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    .frontend-balls {
        width: 980px;
        height: 210px;
    }




    .footer {
        width: 1024px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 36px;
        justify-content: center;
    }

    .footer ul {
        padding: 0px;
        margin: 0px 432px;
        margin-top: 24px;
    }

    .footer p {
        margin: 0px;
    }
}








.projects-section h1 {
    color: #FFFFFF;
    background-color: #292F36;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 auto;
    width: 234px;
    padding: 16px 40px 16px 40px;
    border-radius: 40px 0px 40px 0px;
    border: 4px solid #12F7D6;
    opacity: 0px;
    font-family: "Ubuntu", sans-serif; 
}

.projects-section {
    display: flex;
    gap: 32px;
    padding-top: 32px;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 42px;
    border-bottom: 1px solid #43454D;
}

.project-item {
    position: relative;
    width: 298px;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}
  
.project-item:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
  
.project-img {
    width: 298px;
    height: 198px;
    object-fit: cover;
    left: 0;
}
  
.card-title {
    position: absolute;
    width: 298px;
    left: 0;
    top: 75px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top 0.5s ease;
    font-family: "Ubuntu", sans-serif; 
}
  
.project-item:hover .card-title {
    top: 35px;
}
  
.button {
    position: absolute;
    width: 298px;
    left: 0;
    top: 90px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.35s ease;
}
  
.button a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
    border-radius: 24px 0px 24px 0px;
    font-family: "IBM Plex Mono", monospace;
}
  
.project-item:hover .button {
    opacity: 1;
}
  
@media( width >= 768px) {
    .projects-section h1 {
        margin: 0px 233px;
    }

    .projects-section {
        display: flex;
        gap: 32px;
        padding-top: 32px;
        flex-wrap: wrap;
        width: 700px;
        margin: 0 auto;
    }
}

@media (width >= 1280px) {
    .projects-section {
        display: flex;
        gap: 32px;
        padding-top: 32px;
        flex-wrap: wrap;
        width: 960px;
        margin: 0 auto;
    }
}